body{
    background-color: #CCFFFF;
}


footer{
    border-top: solid black 1px;
    background-color: #eee;
    height:50px;
}

.clear{
    clear: both;
}

.wrapper{
    background-color: white;
    border-left: solid #33CCFF 1px;
    border-right: solid #33CCFF 1px;
    width: 80%;
    height: 1000px;
    margin: 50px auto 0 auto;
    padding: 30px 30px;
}

.float-right{
    float:right;
}

.float-left{
    float:left;
}

.tweet-table{

}
.tweet-cell{
    border: solid black 1px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top:10px;
}
.tweeter{
    cursor: pointer;
    float: left;
    text-decoration: underline;
}
.tweet-text{
    font-size: large;
    text-align: center;
    width:80%;
    margin:0 auto;
}
.tweet-date{
    float:right;
    margin-left: 30px;
}

.link{
    text-decoration: underline;
}

.page-btn{
    height: 30px;
    width: 30px;
    border:solid black 1px;
    float:left;
    text-align:center;
    cursor: pointer;
}

.page-btn-active{
    background-color: black;
    color:white;
    font:bold;
}