on:
  pull_request:
name: CI
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout cms-api
        uses: actions/checkout@v2

      - name: composer install
        run : |
          docker run --rm \
              -u "$(id -u):$(id -g)" \
              -v $(pwd):/var/www/html \
              -w /var/www/html \
              laravelsail/php80-composer:latest \
              composer install --ignore-platform-reqs

      - name: SetUp
        run: |
          make up

      - name: Code Style Check PSR-12
        run: |
          make cs
      - name: PHP Analys
        run: |
          make stan
      - name: UnitTest
        run: |
          make test
